<div class="height-scroll">
    <mat-accordion multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header class="main-display">
                <mat-panel-title class="row">
                    <div class="outer-container">
                        <img [src]="this.avatar" class="avatar" alt="avatar" />
                        <div class="inner-container">
                            <span class="mini-title">{{this.message}}</span>
                        </div>
                    </div>
                    <mat-progress-bar class="margin-td-10" mode="determinate" [value]="this.progress">
                    </mat-progress-bar>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion multi cdkDropList (cdkDropListDropped)="drop($event)">
                <mat-expansion-panel cdkDrag *ngFor="let panel of this.panelData">

                    <!-- Start of weather -->

                    <mat-expansion-panel-header *ngIf="panel.type == 'weather'">
                        <mat-panel-title>
                            <span class="mini-title black">{{panel.title}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="weather-container" *ngIf="panel.type == 'weather'">
                        <img [src]="this.weatherData?.current?.condition?.icon"
                            [alt]="this.weatherData?.condition?.text">
                        <div class="weather-container-inner">
                            <span class="mini-heading">
                                {{this.weatherData?.current?.temp_c}} °C
                            </span>
                            <span class="mini-heading">
                                Feels like {{this.weatherData?.current?.feelslike_c}} °C
                            </span>
                            <span class="mini-heading">
                                {{this.weatherData?.location?.name}} , {{this.weatherData?.location?.region}} ,
                                {{this.weatherData?.location?.country}}
                            </span>
                        </div>
                    </div>
                    <div class="button-container" *ngIf="panel.type == 'weather'">
                        <button mat-fab color="primary" class="side-settings" (click)="getWeatherData()">
                            <span class="material-icons pointer">sync</span>
                        </button>
                    </div>
                    <div class="weather-container" *ngIf="!this.hasWeatherData && panel.type == 'weather'">
                        <button mat-raised-button color="primary" (click)="getWeatherData()">Get Weather Info</button>
                    </div>

                    <!-- End of weather -->
                    <!-- Start of forecast -->

                    <mat-expansion-panel-header *ngIf="panel.type == 'forecast'">
                        <mat-panel-title>
                            <span class="mini-title black">Forecast</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="forecast-container" *ngIf="panel.type == 'forecast'">
                        <div>
                            <chart [type]="this.type" [data]="this.data" [options]="this.options"></chart>
                        </div>
                        <div *ngIf="this.isForecast">
                            <div class="button-container">
                                <button mat-fab color="primary" class="side-settings" (click)="getForecastData()">
                                    <span class="material-icons pointer">sync</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- End of forecast -->
                    <!-- Start of Covid -->

                    <mat-expansion-panel-header *ngIf="panel.type == 'covid'">
                        <mat-panel-title>
                            <span class="mini-title black">Covid 19</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="covid-container-outer" *ngIf="panel.type == 'covid'">
                        <div class="covid-container">
                            <div class="box">
                                <span class="total-cases">Total Cases</span>
                                <span>{{this.covidData?.cases}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Total Recovered</span>
                                <span>{{this.covidData?.recovered}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Total Deaths</span>
                                <span>{{this.covidData?.deaths}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Recovery Rate</span>
                                <span>{{this.covidData?.recovered * 100 / this.covidData?.cases}}</span>
                            </div>
                        </div>
                        <hr>
                        <span class="w-100 right-align">Daily Update</span>
                        <hr>

                        <div class="covid-container">
                            <div class="box">
                                <span class="total-cases">Cases</span>
                                <span>{{this.covidData?.todayCases}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Recovered</span>
                                <span>{{this.covidData?.todayRecovered}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Deaths</span>
                                <span>{{this.covidData?.todayDeaths}}</span>
                            </div>
                            <div class="box">
                                <span class="total-cases">Recovery Rate</span>
                                <span>{{this.covidData?.todayRecovered * 100 / this.covidData?.todayCases}}</span>
                            </div>
                        </div>
                        <div class="button-container">
                            <button mat-fab color="primary" class="side-settings" (click)="getCovidData()">
                                <span class="material-icons">sync</span>
                            </button>
                        </div>
                    </div>

                    <!-- End Of Covid -->
                    <!-- Start of quote -->

                    <mat-expansion-panel-header *ngIf="panel.type == 'quote'">
                        <mat-panel-title>
                            <span class="mini-title black">{{panel.title}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="quote-container pointer" *ngIf="panel.type == 'quote'" (click)="this.getQuote()">
                        <div class="quote-container-inner w-100">
                            <div class="quote w-100">
                                <div class="quote-inner pad-10">{{this?.quoteData?.text}}</div>
                            </div>
                            <div class="author w-100" *ngIf="this?.quoteData?.author">
                                - {{this?.quoteData?.author}}
                            </div>
                        </div>
                    </div>


                    <!-- End of quote -->


                </mat-expansion-panel>
                
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>