.mat-expansion-panel {
    background: transparent !important;
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.height-scroll {
    max-height: 80vh;
    overflow-y: auto;
    /* display: flex; */
    justify-content: center;
    box-shadow: 0px 0px 20px black;
    /* margin-right: 30px; */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.height-scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.height-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-display {
    height: 150px;
    width: 400px;
}

.outer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    margin: 10px;
}

.mini-title {
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    letter-spacing: 1.5px;
    padding: 2px;
    text-shadow: 1px 1px 3px gray;
    line-height: 45px;
}

.black {
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0px 0px 0px #00000000;
}

.row {
    display: flex;
    flex-direction: column;
}

.mat-expansion-panel-body {
    width: 100% !important;
}

.main-display-mini {
    width: 350px;
}

.weather-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.weather-container-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-expansion-panel-body {
    width: 100% !important;
}

.mini-heading {
    font-weight: 800;
    font-size: 15px;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-settings {
    margin: 12px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.margin-t-20 {
    margin-top: 20px;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.total-cases {
    font-weight: 800;
}

.box {
    display: flex;
    justify-content: space-between;
}

.rotate {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.anti-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.quote-container {
    max-width: 304px;
}

.quote-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.quote {
    font-size: 20px;
}

.pad-10 {
    padding: 10px;
}

.text-start,
.text-end,
.author {
    display: flex;
}

.text-start {
    justify-content: flex-start;
}

.text-end,
.author {
    justify-content: flex-end;
}

.author {
    font-size: 18px;
    font-weight: 800;
    margin-top: 15px;
}

.quote-inner {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}