<!DOCTYPE html>
<html style.backgroundImage="url('{{this.image}}')">

<body>
    <div class="container">
        <canvas id="canvas" width="400px" height="400px"></canvas>
    </div>
    <div class="container overlay"></div>
    <div class="settings overlay white right ">
        <div class="icon-container">

            <div class="other-icons non-active-settings" [ngClass]="this.settingsClicked ? 'show-settings' : 'hide-settings'">
                <!-- <span class="material-icons pointer" (click)="changeImageManually('next')">skip_next</span> -->
                <span class="material-icons pointer" (click)="changeImageManually('previous')">skip_previous</span>
            </div>

            <span class="material-icons pointer active-settings" [ngClass]="this.settingsClicked ? 'rotate' : 'anti-rotate'" (click)="settingsClick()">settings</span>

            <div class="other-icons non-active-settings" [ngClass]="this.settingsClicked ? 'show-settings' : 'hide-settings'">
                <span class="material-icons pointer" (click)="changeImageManually('next')">skip_next</span>
                <!-- <span class="material-icons pointer" (click)="changeImageManually('previous')">skip_previous</span> -->
            </div>

        </div>
    </div>
    <!-- <span class="overlay white right" (click)="changeImageManually('next')">Next</span> -->
    <!-- <span class="overlay white left" (click)="changeImageManually('previous')">Previous</span> -->
    <script>
    </script>

</body>

</html>