.container {
    display: flex;
    /* width: 100vw; */
    height: 100vh;
    justify-content: center;
    /* background-color: white; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    align-items: center;
    background-attachment: fixed;
}

canvas {
    opacity: 0.8;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.3;
    background-color: black;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.white {
    color: white;
    text-transform: uppercase;
    /* padding: 2pc; */
    font-size: 20px;
    opacity: 0.5;
    text-shadow: 0px 0px 5px black;
    letter-spacing: 5px;
    background: transparent;
}

.left {
    left: 0;
    z-index: 5;
    cursor: pointer;
}

.right {
    right: 0;
    z-index: 5;
    cursor: pointer;
}

.icon-container {
    display: flex;
    height: 90px;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    flex-direction: column;
    margin: 10px 25px;
}

.d-flex {
    display: flex;
}

.active-settings {
    display: block;
}

.rotate {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.anti-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.show-settings {
    display: block;
    opacity: 1;
    animation: show 1s;
}

.hide-settings {
    display: none;
    opacity: 0;
    animation: hide 1s;
}

.material-icons {
    font-size: 30px;
    margin: 10px 10px;
    z-index: 5000;
}

.settings {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@keyframes show {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

.overlay-side {
    position: absolute;
    right: -500px;
    top: 0;
    color: black;
    z-index: 50000;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    /* min-width: 300px; */
    width: 100%;
    max-width: 500px;
}

.show-side {
    animation: show-side 0.5s ease-in;
    right: 0;
}

.hide-side {
    animation: hide-side 0.5s ease-out;
    right: -500px;
}

@keyframes show-side {
    0% {
        right: -500px;
    }
    100% {
        right: 0;
    }
}

@keyframes hide-side {
    0% {
        right: 0;
    }
    100% {
        right: -500px;
    }
}

.title {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 45px;
}

.mini-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* height: 100%; */
}

.right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 60px 60px 0;
}

.w-60 {
    width: 60% !important;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.margin-b10 {
    margin-bottom: 10px;
}

.thumbnail {
    width: 75px;
    height: auto;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.grid-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: fit-content !important;
}

.selected-image {
    width: auto;
    height: 200px;
    min-width: 100%;
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
}

mat-expansion-panel {
    width: 450px !important;
}

.pointer {
    cursor: pointer;
}

.single-line {
    display: inline;
}

.mini-bg {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}