.container {
    display: flex;
    /* width: 100vw; */
    height: 100vh;
    justify-content: space-around;
    /* background-color: white; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    align-items: center;
    background-attachment: fixed;
}

canvas {
    opacity: 0.85;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    z-index: 20;
    /* position: absolute; */
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.white {
    color: white;
    text-transform: uppercase;
    /* padding: 2pc; */
    font-size: 20px;
    opacity: 0.5;
    text-shadow: 0px 0px 5px black;
    letter-spacing: 5px;
    background: transparent;
}

.left {
    left: 0;
    z-index: 5;
    cursor: pointer;
}

.right {
    right: 0;
    z-index: 5;
    cursor: pointer;
}

.icon-container {
    display: flex;
    height: 90px;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    flex-direction: column;
    margin: 10px 25px;
}

.d-flex {
    display: flex;
}

.active-settings {
    display: block;
}

.rotate {
    transform: rotate(-360deg);
    transition-duration: 1s;
}

.anti-rotate {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.show-settings {
    display: block;
    opacity: 1;
    animation: show 1s;
}

.hide-settings {
    display: none;
    opacity: 0;
    animation: hide 1s;
}

.material-icons {
    font-size: 30px;
    margin: 10px 10px;
    z-index: 5000;
}

.settings {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.toggle-container {
    display: flex;
}

@keyframes show {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes hide {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

.overlay-side {
    position: absolute;
    right: -500px;
    top: 0;
    color: black;
    z-index: 50000;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 1;
    /* min-width: 300px; */
    width: 0;
    max-width: 500px;
    overflow-y: scroll !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.overlay-side::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.overlay-side {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.show-side {
    animation: show-side 0.5s ease-in;
    display: block;
    right: 0;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

.hide-side {
    /* display: none; */
    animation: hide-side 0.5s ease-in;
    right: -500px;
    width: 0px;
}

.toggle-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@keyframes show-side {
    0% {
        right: -500px;
        display: none;
    }
    90% {
        display: block;
    }
    100% {
        right: 0;
    }
}

@keyframes hide-side {
    0% {
        right: 0;
        width: 500px;
    }
    100% {
        right: -500px;
        width: 0;
    }
}

.title {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 45px;
}

.mini-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.right-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 30px 40px 0px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.margin-b10 {
    margin-bottom: 10px;
}

.thumbnail {
    width: 75px;
    height: auto;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.thumbnail-avatar {
    width: 70px;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    justify-content: center;
    align-items: center;
}

.grid-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    width: fit-content !important;
}

.selected-image {
    width: auto;
    height: 275px;
    min-width: 100%;
    margin-bottom: 10px;
}

.selected-avatar {
    width: auto;
    height: 200px;
    margin: 10px 0px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
}

mat-expansion-panel {
    width: 100% !important;
    max-width: 450px;
    min-width: 260px;
}

.pointer {
    cursor: pointer;
}

.single-line {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
}

.single-line-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mini-bg {
    background-color: #3F51B5;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
}

.weather-input-container {
    display: flex;
    flex-direction: column;
}

.invalid {
    color: red;
}

.bold {
    font-weight: 800;
}

.success {
    color: darkgreen;
}

.colored-toogle {
    font-size: 50px;
}

.toggle-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inserter {
    width: 100%;
    padding: 10px
}

app-side {
    z-index: 20;
    box-shadow: 0px 0px 15px black;
}