/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    align-items: center;
    background-attachment: fixed;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

app-side .mat-expansion-panel-body {
    width: 100% !important;
    padding: 16px 24px 16px !important;
}

.margin-td-10 {
    margin: 10px 0px;
}

@media (min-width: 1px) and (max-width: 500px) {
    .container {
        flex-flow: column-reverse nowrap !important;
    }
    .mat-expansion-panel-content {
        height: 350px;
    }
}